*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdown-tem::before{
    transform: rotate(-90deg);
}


.nav-link{
    transition: all 0.2s ease;
    
}

.nav-link:hover{
    border-bottom: 2px solid gray;
}       

.dropdown-menu{
    border-radius: 0;
    border: none;
    border-bottom: 0 3px 6px rgb(0, 0, 0 .23);
}

 
.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
        display: block;
        margin-top: 0.125em;
        margin-left: 0.125em;
        transition: 0.5s all ease;
}

@media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateY(-2%);
    }
}

.dropdown-item{
    color: black;
}


nav{
    opacity: .9;
    width: 100%;
}

.nav-item{
    color: black;
    font-weight: 700;
}

.fa-brands{
    color: black;
    margin: 10px;
    align-items: center;
    transition: all 500ms ease;
}

.fa-brands:hover{
    color: gray;
    transform: translateY(-2%);
}

.area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding-top: 20px;
    height: 160px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.PN{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    background: #f6f6f6;
    color: grey;
    margin-bottom: 60px;
}

.PN-Link{
    text-decoration: none;
    padding-right: 5px;
    color: grey;
    transition: 1s ease;
}

.PN-Link:hover{
    color: rgb(2, 129, 2);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    float: left;
    font-family: sans-serif;
    text-align: justify;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 5px 10px #000;
    padding: 20px;
    margin: 40px;
    transition: all 500ms ease;
}

.card:hover{
    box-shadow: 0 5px 10px #000;
    transform: translateY(-2%);
}

.card-body{
    margin: 5px;
    text-align: justify;
}

.Link{
    text-decoration: none;
    color: black;
}

footer{
    padding: 20px;
    margin-top: 70px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-2 img{
    height: 30px;
}

.Instituto{
    color: white;
    font-size: 12px;
    display: flex;
    height: 5px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 15px;
}


