*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdown-tem::before{
    transform: rotate(-90deg);
}


.nav-link{
    transition: all 0.2s ease;
    
}

.nav-link:hover{
    border-bottom: 2px solid gray;
}

.dropdown-menu{
    border-radius: 0;
    border: none;
    border-bottom: 0 3px 6px rgb(0, 0, 0 .23);
}

 
.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
    transition: 0.5s all ease;
}

@media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateY(-2%);
    }
}

.dropdown-item{
    color: black;
}


nav{
    opacity: .9;
    width: 100%;
}

.nav-item{
    color: black;
    font-weight: 700;
}


.fa-brands{
    color: black;
    margin: 10px;
    align-items: center;
    transition: all 500ms ease;
}

.fa-brands:hover{
    color: gray;
    transform: translateY(-2%);
}

footer{
    padding: 20px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-2 img{
    height: 30px;
}

.Instituto{
    color: white;
    font-size: 12px;
    display: flex;
    height: 5px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 15px;
}

.BTPI{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008000;
    padding-top: 20px;
    height: 160px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.PN{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    background: #f6f6f6;
    color: grey;
}

.PN-Link{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: grey;
    transition: 1s ease;
}

.PN-Link:hover{
    color: rgb(2, 129, 2);
}

.BTPI-DG{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.BTPI-PE{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    width: 40%;
    padding-bottom: 40px;
}

#hr-1{  
    width: 60%;
    margin: auto;
    
}

.Tittle{
    padding-bottom: 10px;
    font-size: 20px;
}

.Text{
    text-align: justify;
    font-size: 15px;
}

.descarga{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

button{
    border: 1px blue solid;
    font-family: inherit;
    text-align: center;
    background: white;
    width: 10em;
    box-shadow: 0px 5px 20px -11px #1875FF;
    padding: 0.5em;
    color: black;
    transition: all ease 0.4s;
}


.download-link{
    text-decoration: none;
}     

.Img-DC{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BTPI-Tittle{
    padding-top: 20px;
    text-align: center;
}

.Img-BTPI{
    width: 612px;
    height: 792px;
}